.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.2);

    @include transition(opacity);

    
}

.modal{
    @include centeredFlex ();
    position: relative;
    padding: 40px;
    max-width: 450px;
    height: 609px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     background-color: #fff;
    @include transition (transform);
    transform: translate(-50%, -50%) scale(1);

    .is-hidden &{
        @include transition (transform);
        transform:  translate(-50%, -50%) scale(0.7);
    }

    @media screen and (min-width:1200px) {
    width: 528px;
    height: 581px;
        }
}

.modal-button{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    @include centeredFlex();
    cursor: pointer;
    border-radius: 50%;

    border-color: rgba(0, 0, 0, 0.1);
    background-color: #fff;

    
    }

.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal-button__icon{
    width: 8px;
    height: 8px;
    
    @include transition (fill);
    
    .modal-button:hover &{
        fill: var(--link-hover-color);
    }
}