.footer{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;

 @media screen and (max-width:479px) {
    width: 100%;
 }   

 @media screen and (max-width:1199px) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
   
 } 
 .tablet-footer {
     @media screen and (min-width:768px) and (max-width:1199px) {
        display: inline-flex;
        margin-bottom: 60px;
     }
 }
}

.footer-form{
@include centeredFlex();
}

.logo__accient--color{
    color: #ffffff;
}
.footer-contact{
    margin-top: 20px;
}
.footer-flex{

@media screen and (min-width:1200px) {
    display: flex;

}

    
}
.footer-contact__item{
    margin-bottom: 9px;  
}
.footer-contact__link{
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    @include transition (color);

    &:hover{
        color: var(--link-hover-color);
    }
}
.footer-contact__link--white{
    color: #ffffff;
}

.footer-contact__item:last-child{
    margin-bottom: 0;
}
.tablet-footer {
    @media screen and (min-width:768px) {
        display: flex;
        margin-top: 0;
    }
}

.footer-socials-container{
 
    padding-top: 12px;
@media screen and (max-width:767px) {
    margin-top: 60px;
     margin-bottom: 60px;
}

    @media screen and (min-width:768px) {
            
            margin-left: 165px;
        }
    @media screen and (min-width:1200px) {
        margin-left: 70px;
        
    }    

}
.footer-title{
display: block;
margin-top: 0;
margin-bottom: 20px;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #ffffff;
    
}