.portfolio__menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 46px;


    @media screen and (min-width:768px) {
        @include centeredFlex ();
        margin-bottom: 36px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 56px;
    }

}

.menu-list__item{
    margin-right: 8px;
    &:last-child{
        margin-right: 0;
    }
    @media screen and (max-width:767px) {
        margin-bottom: 27px;

    &:nth-last-child(-n+2){
    margin-bottom: 0;
    }
       
}
    @media screen and (min-width:1200px) {
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
}
.menu-list__button{
    @extend %button;
    background-color: #F5F4FA;
  

        @include transition (color);
        @include transition (background-color);
        @include transition (box-shadow);

    
    &:hover{
        background-color: var(--link-hover-color);
        color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}
