
.menu__item{
    // display: block;
    position: relative;
    margin-right: 50px;
    font-weight: 500;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;

    &:last-child{
        margin-right: 0;
    }

    @media screen and (max-width:767px)  {
        font-size: 40px;
        line-height: 1.175;
        margin-right: 0;
        margin-bottom: 32px;
        padding: 0;
    &:last-child{
        margin-bottom: 0;
    }
    }
}

.menu__link{
    position: relative;
    display: block;
    width: 100%;
    color: #212121;

    @include transition (color);
    

    &:hover{

        color: var(--link-hover-color);

    }

    &--current::after{
        display: block;
        bottom: 0;
        left: 0;
        content:"";
        max-width: 100%;
        height: 4px;
        border-radius: 2px;
    
        background-color: #2196F3;
        @media screen and (max-width:767px) {
            display: inline-block;
        }

    }
}

