.form__title {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;


    color: #212121;
}

.form__label {
    display: block;
    margin: 0;
    color: #757575;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form__field {
    position: relative;
    max-width: 100%;
    height: 40px;
    margin-bottom: 10px;

    
}

.form__input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;


    @media screen and (min-width:1200px) {
    width: 448px;
    height: 40px;
        
    }

&:hover,
&:focus-within {
    border: 1px solid #2196F3;
        }

    @include transition (border);
    }
.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);

.form__field:hover &,
.form__field:focus-within &{
    fill: #2196F3;
}
    @include transition (fill);
   
}

.form__textarea {
    height: 120px;
    margin-bottom: 20px;
}

.textarea__form {
    display: inline-block;
    height: 24px;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @include transition(border);

}

.textarea__form:focus-within,
.textarea__form:hover {
    border-color: #2196F3;
}

.checkbox__label {
    position: relative;
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 18px;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: 1.71;
    }
}

.checkbox__input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;

}

.checkbox__link {

    color: #2196F3;
}

.checkbox__icon {
    position: absolute;
    left: -18px;
    top: 50%;
    width: 16px;
    height: 15px;
    opacity: 1;
    transform: translateY(-50%);

    @include transition (opacity);

.checkbox__input:checked ~ &{
    opacity: 0;
}
}

.checkbox__icon--active-icon {
    position: absolute;
    left: -18px;
    top: 50%;
    width: 16px;
    height: 15px;
    opacity: 0;
    transform: translateY(-50%);

    @include transition (opacity);
    
    fill: #2196F3;

.checkbox__input:checked ~ &{
    opacity: 1;
}

}

.button__container {
    display: flex;
    justify-content: center;
}

.form__button {
    padding: 10px 32px;
    font-weight: 700;
    line-height: 1.88;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border: 0px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form__button:hover {
    background-color: #188CE8;
    cursor: pointer;

}


 .form__label:hover .form-icon,
 .form__label:focus-within .form-icon,
 .form__label:hover .form-input,
 .form__label:focus-within .form-input {
     fill: #2196F3;
     border-color: #2196F3;
 }